{% extends "layout.html" %}

{% block content %}
<div class="container">

    <h2>NFL Standings</h2>
    <h3>Testing Heroku auto-pull GitHub Update</h3>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">NFC East</th>
      <th scope="col">W</th>
      <th scope="col">L</th>
      <th scope="col">T</th>
      <th scope="col">PF</th>
      <th scope="col">PA</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope><img src="https://ssl.gstatic.com/onebox/media/sports/logos/-zeHm0cuBjZXc2HRxRAI0g_48x48.png" style="height:80%">DAL</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>28</td>
      <td>29</td>
    </tr>
    <tr>
      <th scope><img src="https://ssl.gstatic.com/onebox/media/sports/logos/z_Or7w7bQ_ALmWUNsdd7AQ_48x48.png" style="height:80%">WSH</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>33</td>
      <td>27</td>
    </tr>
    <tr>
      <th scope><img src="https://ssl.gstatic.com/onebox/media/sports/logos/s4ab0JjXpDOespDSf9Z14Q_48x48.png" style="height:80%">PHI</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>39</td>
      <td>39</td>
    </tr>
    <tr>
      <th scope><img src="https://ssl.gstatic.com/onebox/media/sports/logos/q8qdTYh-OWR5uO_QZxFENw_48x48.png" style="height:80%">NYG</th>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>28</td>
      <td>40</td>
    </tr>
    </tbody>
  </table>
<br>
  <a href="https://www.nfl.com/standings" target="_blank" class="btn btn-primary">Source Data</a>
</div>
{% endblock %}
